/* You're welcome to change any of this! */

@import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');

* {
    box-sizing: border-box;
}

body {
    margin: 0px;
    font-family: 'Raleway', sans-serif;
}

h1, h2{
    font-family: 'Raleway', sans-serif;
}

h1 {
    background-color: #6247AA;
}

h2 > p {
    background-color: #E2CFEA;
}

header, section {
    padding: 20px;
    font-family: 'Raleway', sans-serif
}
p, li {
    line-height: 1.5em;
    font-family: 'Raleway', sans-serif
}

#inspiration {
    background-color: #A06CD5;
    padding-top: 40px;
    padding-bottom: 40px;
    font-family: 'Raleway', sans-serif
}